<!DOCTYPE html>
<html>
<head>
	 <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>Cafe La Loma.</title>
	
	 <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
	<link type="text/css" rel="stylesheet" href="/estilo.css">
</head>
	<body>
	<div class="header">
<body><a href="#" th:if="${id == null}" th:href="@{/index/0}">
<IMG SRC="/carrito.jpg" WIDTH=40 HEIGHT=35 style="margin-top: 0px; margin-left: 1100px; margin-right: 0px;"></a> 
<a href="#" th:if="${id > 0}" th:href="@{/carrito/}+${id}">
<IMG SRC="/carrito.jpg" WIDTH=40 HEIGHT=35 style="margin-top: 0px; margin-left: 1100px; margin-right: 0px;"></a> 
<a href="https://www.instagram.com"><IMG SRC="/social1.jpg" WIDTH=40 HEIGHT=35 style="margin-top: 0px; margin-left: 10px; margin-right: 0px;"></a>
&ensp;<a href="https://www.facebook.com"><IMG SRC="/social2.jpg" WIDTH=40 HEIGHT=35 ></a>
</div>
	<div id="navegador">
	<ul>
	<li></li>
	</ul>
	</div>
	
	<form class="form" role="form" autocomplete="off" th:object="${userForm}" th:action="@{/actualizarPerfil}" method="post">
		
	<font color="8B0D32" SIZE=8><b><p style="margin-top: 0px; margin-left: 300px; margin-right: 200px;">ACTUALIZAR DATOS</b></font>
	<br>
	<font color="000000" SIZE=5><p style="margin-top: 0px; margin-left: 300px; margin-right: 300px;">
	Actualización de datos para persona natural/empresa:<br>
	<input type=hidden class="resizedTextbox" size="20" maxlength="30"  th:field="${userForm.nombre}" >
	<input type=hidden class="resizedTextbox" size="20" maxlength="30"  th:field="${userForm.apellido}" >
	<input type=hidden class="resizedTextbox" size="20" maxlength="30"  th:field="${userForm.email}" >
	<input type=hidden class="resizedTextbox" size="20" maxlength="30"  th:field="${userForm.id}" >
	<input type=hidden class="resizedTextbox" size="20" maxlength="30"  th:field="${userForm.identificacion}" >
	<input type=hidden class="resizedTextbox" size="20" maxlength="30"  th:field="${userForm.password}" >
	<input type=hidden class="resizedTextbox" size="20" maxlength="30"  th:field="${userForm.tipoID}" >
	<p>Departamento: <input type="text" class="resizedTextbox" size="20" maxlength="30"  th:field="${userForm.departamento}"></p>
	<p style="font-size:80%; color:#8B0D32;"  th:if="${#fields.hasErrors('departamento')}" th:errors="*{departamento}">Name Error</p>
	
	<p>Municipio/ciudad: <input type="text" class="resizedTextbox" size="20" maxlength="30"  th:field="${userForm.municipio}"></p>
	<p style="font-size:80%; color:#8B0D32;"  th:if="${#fields.hasErrors('municipio')}" th:errors="*{municipio}">Name Error</p>
	
	<p>Dirección: <input type="text" class="resizedTextbox" size="20" maxlength="30"  th:field="${userForm.direccion}"></p>
	<p style="font-size:80%; color:#8B0D32;"  th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}">Name Error</p>
	
	<p><input type="submit" class="redondo" style="font-size:18px; width: 170px; height: 40px;" value="Actualizar"></p>
	<p style="font-size:120%; color:#8B0D32;"  th:if="${formErrorMessage}" th:text="${formErrorMessage}">Name Error</p>
	</form>
	

	<center>
	<a href="#" th:href="@{/usuario/}+${userForm.id}"><button class="redondo">
	Regresar
	</button></a>
	</center>
	<address>
	</font>
CAFE LA LOMA TIENDA VIRUAL.<br>
Nariño-Colombia<br>
318-770 6752</address>
</body>
</html>
