<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
	<title>Cafe La Loma.</title>
	<link rel="stylesheet" href="estilo.css">
</head>
<body>
<div class="header">
<body><br><br><br>
</div>
<div id="navegador">
<ul>
<li></li>
</ul>
</div>

<p>
<font color="8B0D32" SIZE=8><b><p style="margin-top: 0px; margin-left: 300px; margin-right: 200px;">ACTUALIZAR DATOS</b></font>
<br>
<font color="000000" SIZE=5><p style="margin-top: 0px; margin-left: 300px; margin-right: 300px;">
	Actualización de datos para persona natural/empresa:<br>

Departamento: <input type="text" class="resizedTextbox" size="20" maxlength="30" value="Departamento" name="empresa"><br>
Municipio/ciudad: <input type="text" class="resizedTextbox" size="20" maxlength="30" value="Municipio" name="empresa"><br>
Dirección: <input type="text" class="resizedTextbox" size="20" maxlength="30" value="Dirección" name="empresa"><br>
<button class="redondo" style="font-size:18px; width: 170px; height: 40px;">
Actualizar
</button><br>
Si desea cambiar la contraseña diligencie los siguientes datos:<br>
Contraseña anterior: <input type="text" class="resizedTextbox" size="20" maxlength="30" value="Contraseña" name="empresa"><br>
Contraseña nueva: <input type="text" class="resizedTextbox" size="20" maxlength="30" value="Contraseña" name="empresa"><br>
Confirme la contraseña: <input type="text" class="resizedTextbox" size="20" maxlength="30" value="Confirme Contraseña" name="empresa"><br>
<button class="redondo" style="font-size:18px; width: 170px; height: 40px;">
Cambiar
</button><br>
<br><br>
<br>
<center>
<a href="perfilUsuario.html"><button class="redondo">
Regresar
</button></a>
</center>
<address>
CAFE LA LOMA TIENDA VIRUAL.<br>
XXXXX-Colombia<br>
XXXXXXXX - 3XX-XXX XXXX</address>
</body>
</html>
