<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
	<title>Cafe La Loma.</title>
	<link rel="stylesheet" href="estilo.css">
</head>
<body>
<div class="header">
<body><br><br><br>
</div>
<div id="navegador">
<ul>
<li></li>
</ul>
</div>

<p>
<font color="8B0D32" SIZE=8><b><p style="margin-top: 0px; margin-left: 300px; margin-right: 200px;">CARRITO DE COMPRAS</b></font>
<br>
<br>

	<TABLE BORDER>
		<TR>
		    	<TD COLSPAN=5>TUS PRODUCTOS A COMPRAR</TD>
		</TR>
		<TR>
			<TD ROWSPAN=2>imágen del producto</TD> <TD>Nombre del producto</TD>
			<TD>Tamaño</TD> <TD>Costo unitario</TD>
		</TR>
		<TR>
			<TD>cantidad solicitada</TD> <TD>subtotal</TD>
			<TD>costo envío</TD><TD>total</TD>
		</TR>
		<TR>
			<TD ROWSPAN=2>imágen del producto</TD> <TD>Nombre del producto</TD>
			<TD>Tamaño</TD> <TD>Costo unitario</TD>
		</TR>
		<TR>
			<TD>cantidad solicitada</TD> <TD>subtotal</TD>
			<TD>costo envío</TD><TD>total</TD>
		</TR>

		<TR>
			<TD ROWSPAN=2>imágen del producto</TD> <TD>Nombre del producto</TD>
			<TD>Tamaño</TD> <TD>Costo unitario</TD>
		</TR>
		<TR>
			<TD>cantidad solicitada</TD> <TD>subtotal</TD>
			<TD>costo envío</TD><TD>total</TD>
		</TR>
	</TABLE><br><br>
	<font color="000000" SIZE=5><p style="margin-top: 0px; margin-left: 300px; margin-right: 300px;">
	Su compra #orden tiene un costo de $XX.XXX<br>
	<center>

	<a href="historialCompras.html"><button class="redondo" style="font-size:22px; width: 170px; height: 40px;">
	COMPRAR
</button></a><br>

<br>

</center>
<address>
CAFE LA LOMA TIENDA VIRUAL.<br>
XXXXX-Colombia<br>
XXXXXXXX - 3XX-XXX XXXX</address>
</body>
</html>
