<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
	<title>Cafe La Loma.</title>
	<link rel="stylesheet" href="estilo.css">
</head>
<body>
<div class="header">
<body><a href="https://www.instagram.com/telewarrior/"><IMG SRC="social1.jpg" WIDTH=40 HEIGHT=35 style="margin-top: 0px; margin-left: 1200px; margin-right: 0px;"></a>&ensp;<a href="https://www.facebook.com/telewarrior/"><IMG SRC="social2.jpg" WIDTH=40 HEIGHT=35 ></a>
</div>
<div id="navegador">
<ul>
	<li><a href="index.html">INICIO</a></li>
	<li><a href="empresa.html">EMPRESA</a></li>
	<li><a href="quienesSomos.html">QUINES SOMOS</a></li>
	<li><a href="productos.html">PRODUCTOS</a></li>
	<li><a href="contacto.html">CONTACTENOS</a></li>
</ul>
</div>

<p>
<font color="8B0D32" SIZE=8><b><p style="margin-top: 0px; margin-left: 300px; margin-right: 200px;">Conoce el proceso de nuestro café</b></font>
<br>
<font color="000000" SIZE=4><p style="margin-top: 0px; margin-left: 300px; margin-right: 300px;"><br><br>
Recepción de la cereza:
Las cerezas son transportadas desde las fincas o las altas montañas a lomo de mula hasta los beneficios para iniciar el proceso.
<br><br>
Lavado/separación:
El proceso consiste en vaciar las cerezas en recipientes de agua, donde serán cuidadosamente limpiadas de las impurezas que puedan venir mezcladas (pequeñas ramas, hojas, palos, etc.), así como separar las cerezas dañadas y verdes que quedarán flotando. Las cerezas maduras permanecerán en el fondo del recipiente.
<br><br>
Despulpe:
El despulpe o descerezada, consiste en desprender y separar la pulpa del grano, la operación se realiza en una máquina que desprende la pulpa por fricción bajo un chorro de agua. Al estar despulpando los granos están siendo separados del bagazo de la cereza durante la operación.
<br><br>
Fermentación:
Los granos son acumulados en recipientes especiales por un periodo de 8 a 12 horas. La fermentación tiene como finalidad despojar los granos de la emulsión viscosa (mucílago) e insoluble en el agua.
<br><br>
Lavado:
La fermentación exige el lavado de los granos, estos son arrastrados por una corriente de agua dentro de un canal que puede ser de cemento, con un rastrillo u otro equipo de ayuda se impulsan contra la corriente de manera que el agua elimine las impurezas. La operación se da por terminada cuando al final del recorrido el agua luce limpia; los granos que flotan son eliminados.
<br><br>
Secado:
El café lavado se extiende al sol sobre vastas superficies de cemento o madera, removiéndolo a menudo para que seque de manera uniforme. Según las condiciones meteorológicas, el secamiento puede durar de cinco a ocho días.

Las grandes plantaciones, así como las de mediana importancia, poseen maquinas secadoras. Se trata de enormes tambores metálicos dentro de los que circulan corrientes de aire caliente, los cilindros giran continuamente sobre un eje central lo que permite obtener un secamiento uniforme del grano.

La operación puede durar hasta 24 horas. El café seco presenta un hermoso color oro y adquiere el nombre de café pergamino, este contiene entre 11% y 13% de humedad.
<br><br>
La trilla/El morteo:
El café pergamino es trillado en maquinas especiales. Estas constan de unos cilindros estriados fabricados en hierro fundido que desprenden el pergamino por la fricción, la almendra adquiere entonces un color verde oliva.
<br><br>
Clasificación por tamaño:

Se realiza un proceso de calibrado mecánico en el que el café pasa a través de una especia de cribas o rejillas perforadas con agujeros de diferentes tamaños.

Pueden utilizarse también maquinas con cilindros giratorios perforados con agujeros de diferentes tamaños, que reparten el grano en depósitos receptores individuales para cada tamaño definido del grano.
<br><br>
Clasificación por color:
La clasificación por color se realiza a través de máquinas especiales por donde se hace pasar el café por bandas delgadas, las cuales son supervisadas por fotoceldas electrónicas capaces de detectar granos manchados.

Cuando la fotocelda detecta estas imperfecciones, se activa un chorro de aire que separa los granos defectuosos del resto, clasificando los manchados por un lado y los prima lavado tipo exportación por otro lado (supremo, excelso, excelso especial).
<br><br>
</font>
<br><br><br><br><br>
<address>
CAFE LA LOMA TIENDA VIRUAL.<br>
XXXXX-Colombia<br>
XXXXXXXX - 3XX-XXX XXXX</address>
</body>
</html>
