<!DOCTYPE html>
<html>
<head>
	<title>Cafe La Loma.</title>
	<link type="text/css" rel="stylesheet" href="/estilo.css">
</head>
<body>
<div class="header">
<body><br><br><br>
</div>
<div id="navegador">
<ul>
<li></li>
</ul>
</div>

<p>
<font color="8B0D32" SIZE=8><b><p style="margin-top: 0px; margin-left: 300px; margin-right: 200px;">INVENTARIO</b></font>
<br>
<font color="000000" SIZE=5><p style="margin-top: 0px; margin-left: 300px; margin-right: 300px;">
	Actualizar la disponibilidad de productos existentes:<br>
	<br>
	<p>	
	ID del producto: <select name="select" style="height:26px; font-size:16px;">
	  	<option value="ps" th:each="id : ${ids}" th:text="${id}">01</option>
	</select><br>
	Nombre del producto:<select name="select" style="height:26px; font-size:16px;">
	  	<option value="ps" th:each="nomb : ${nombres}" th:text="${nomb}" ></option>
	</select><br>
	Tamaño:<select name="select" style="height:26px; font-size:16px;">
	  <option value="ps">350</option>
	  <option value="value3">485</option>
	</select><br>
	Cantidad de unidades a agregar:<select name="select" style="height:26px; font-size:16px;">
	  <option value="ps">10</option>
	  <option value="CC" selected>30</option>
	  <option value="value3">50</option>
	</select><br>
		<p><input type="submit" class="redondo" style="font-size:18px; width: 170px; height: 40px;" value="Actualizar"></p>	

	<p>Ingresar un nuevo producto:<br>
	<br>
	<a href="#" th:href="@{/GenID/}+${id}"><button class="redondo" style="font-size:18px; width: 170px; height: 60px;">
	GENERAR ID
	</button></a><input type="text" class="resizedTextbox" size="20" maxlength="30" th:if="${consecutivo != null }" th:value="${consecutivo}" name="nombres"/><br>
	Nombre del producto: <input type="text" class="resizedTextbox" size="20" maxlength="30" value="Nombre producto" name="nombres"><br>
	Tamaño: <input type="text" class="resizedTextbox" size="20" maxlength="30" value="Tamaño" name="nombres"><br>
	Cantidades disponibles: <input type="text" class="resizedTextbox" size="20" maxlength="30" value="Disponibilidad" name="nombres"><br>
	<a href="reporteMasVend.html"><button class="redondo" style="font-size:18px; width: 170px; height: 40px;">
	AGREGAR
	</button></a><br><br>
	INVENTARIO<br>
	<a href="#" th:href="@{/inventario/}+${id}"><button class="redondo" style="font-size:18px; width: 170px; height: 60px;">
	VER INVENTARIO
	</button></a><br>
	<a href="#" th:href="@{/admin/}+${id}"><button class="redondo" style="font-size:18px; width: 170px; height: 40px;">
	REGRESAR
	</button></a>
<br>
<center>

</center>
<address>
CAFE LA LOMA TIENDA VIRUAL.<br>
Nariño-Colombia<br>
318-770 6752</address>
</body>
</html>
