<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
	<title>Cafe La Loma.</title>
	<link rel="stylesheet" href="estilo.css">
</head>
<body>
<div class="header">
<body><br><br><br>
</div>
<div id="navegador">
<ul>
<li></li>
</ul>
</div>

<p>
<font color="8B0D32" SIZE=8><b><p style="margin-top: 0px; margin-left: 300px; margin-right: 200px;">TUS PEDIDOS</b></font>
<br>
<br>

	<TABLE BORDER>
		<TR>
		    	<TD COLSPAN=6>TUS PEDIDOS Y SU ESTADO</TD>
		</TR>
		<TR>
			<TD>Orden de compra</TD><TD>Fecha de la compra</TD> <TD>Cantidad de productos</TD>
			<TD>Costo total</TD><TD>Número de guía</TD> <TD>Estado del envío</TD>
		</TR>
		<TR>
			<TD>#XXX</TD> <TD>DD/MM/AAAA</TD> <TD>XX</TD>
			<TD>$XX.XXX</TD><TD>#XXX</TD> <TD>..........</TD>
		</TR>
		<TR>
			<TD>#XXX</TD><TD>DD/MM/AAAA</TD> <TD>XX</TD>
			<TD>$XX.XXX</TD><TD>#XXX</TD> <TD>..........</TD>
		</TR>
		<TR>
			<TD>#XXX</TD> <TD>DD/MM/AAAA</TD><TD>XX</TD>
			<TD>$XX.XXX</TD><TD>#XXX</TD> <TD>..........</TD>
		</TR>
	</TABLE><br><br>

	<center>

	<a href="perfilUsuario.html"><button class="redondo" style="font-size:22px; width: 170px; height: 40px;">
	REGRESAR
</button></a><br>

<br>

</center>
<address>
CAFE LA LOMA TIENDA VIRUAL.<br>
XXXXX-Colombia<br>
XXXXXXXX - 3XX-XXX XXXX</address>
</body>
</html>
