<!DOCTYPE html>
<html>
<head>
	<title>Cafe La Loma.</title>
	<link rel="stylesheet" href="estilo.css">
</head>
<body>
<div class="header">
<body><a href="https://www.instagram.com"><IMG SRC="social1.jpg" WIDTH=40 HEIGHT=35 style="margin-top: 0px; margin-left: 1200px; margin-right: 0px;"></a>&ensp;<a href="https://www.facebook.com"><IMG SRC="social2.jpg" WIDTH=40 HEIGHT=35 ></a>
</div>
<div id="navegador">
<ul>
<li><a href="#" th:href="@{/index}">INICIO</a></li>
<li><a href="#" th:href="@{/empresa}">EMPRESA</a></li>
<li><a href="#" th:href="@{/quienS}">QUINES SOMOS</a></li>
<li><a href="#" th:href="@{/productos}">PRODUCTOS</a></li>
<li><a href="#" th:href="@{/contactenos}">CONTACTENOS</a></li>
</ul>
</div>

<p>
<font color="8B0D32" SIZE=7><b><p style="margin-top: 0px; margin-left: 300px; margin-right: 200px;">Mision:</b></font>
<br>
<font color="000000" SIZE=5><p style="margin-top: 0px; margin-left: 300px; margin-right: 300px;"><br>
LLevar cafe de excelente calidad a todas las partes de colombia
generando valor a los caficulotres colombianos.
<br><br>
</font>
<font color="8B0D32" SIZE=7><b><p style="margin-top: 0px; margin-left: 300px; margin-right: 200px;">Visison:</b></font>
	<br>
	<font color="000000" SIZE=5><p style="margin-top: 0px; margin-left: 300px; margin-right: 300px;"><br>
Ser reconocidos a nivel colombiano por producir el cafe de
mejor calidad, sin causar impacto negativo al medio ambiente y
apoyando al campesino.
<br><br>
</font>
<address>
CAFE LA LOMA TIENDA VIRUAL.<br>
XXXXX-Colombia<br>
XXXXXXXX - 3XX-XXX XXXX</address>
</body>
</html>
