<!DOCTYPE html>
<html>
<head>
	<title>Cafe La Loma.</title>
	
	 <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
	<link rel="stylesheet" href="static/estilo.css" th:href="@{estilo.css}">
</head>
<body>
<div class="header">
<body><a href="https://www.instagram.com"><IMG SRC="social1.jpg" WIDTH=40 HEIGHT=35 style="margin-top: 0px; margin-left: 1200px; margin-right: 0px;"></a>&ensp;<a href="https://www.facebook.com"><IMG SRC="social2.jpg" WIDTH=40 HEIGHT=35 ></a>
</div>
<div id="navegador">
<ul>
<li><a href="#" th:href="@{/index}">INICIO</a></li>
<li><a href="#" th:href="@{/empresa}">EMPRESA</a></li>
<li><a href="#" th:href="@{/quienS}">QUINES SOMOS</a></li>
<li><a href="#" th:href="@{/productos}">PRODUCTOS</a></li>
<li><a href="#" th:href="@{/contactenos}">CONTACTENOS</a></li>
</ul>
</div>

<p>
<font color="8B0D32" SIZE=8><b><p style="margin-top: 0px; margin-left: 300px; margin-right: 200px;">REGISTRO</b></font>
<br>
<font color="000000" SIZE=5><p style="margin-top: 0px; margin-left: 300px; margin-right: 300px;">
	Selecione una opción, recuerde que los distribuidores deben registrarse con el NIT y solo podrán comprar cantidades mayores a X porproducto.<br>
	<input type="radio" id="perNat" name="drone" value="perNat"
	         checked>
	  <label for="perNat">Persona natural</label><br>
		<input type="radio" id="distri" name="drone" value="distri"
		         checked>
		  <label for="distri">Distribuidor</label><br>
Nombres: <input type="text" class="resizedTextbox" size="20" maxlength="30" value="Nombres" name="nombres"><br>
Apellidos: <input type="text" class="resizedTextbox" size="20" maxlength="30" value="Apellidos" name="apellidos"><br>
Tipo de identificación: <select name="select" style="height:26px; font-size:16px;">
  <option value="ps">C.C.</option>
  <option value="CC" selected>NIT</option>
  <option value="value3">C.E</option>
</select><br>
Número de dentificación: <input type="text" class="resizedTextbox" size="20" maxlength="30" value="Num identificación" name="numID"><br>

Razón social: <input type="text" class="resizedTextbox" size="20" maxlength="30" value="Razón social" name="empresa"><br>
Departamento: <input type="text" class="resizedTextbox" size="20" maxlength="30" value="Departamento" name="empresa"><br>
Municipio/ciudad: <input type="text" class="resizedTextbox" size="20" maxlength="30" value="Municipio" name="empresa"><br>
Dirección: <input type="text" class="resizedTextbox" size="20" maxlength="30" value="Dirección" name="empresa"><br>
Ingrese una contraseña para completar el registro<br>

Contraseña: <input type="password" class="resizedTextbox" size="20" maxlength="30" name="empresa"><br>

Confirme la contraseña: <input type="password" class="resizedTextbox" size="20" maxlength="30" name="empresa"><br>
<br><br>
<br>
<center>
<button class="redondo">
Registrarse
</button>
</center>
<address>
CAFE LA LOMA TIENDA VIRUAL.<br>
XXXXX-Colombia<br>
XXXXXXXX - 3XX-XXX XXXX</address>
</body>
</html>
